@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html {
    font-size: 10px;
    scroll-behavior: smooth;
    font-family: "Lato", "sans-serif";
  }

body{
    font-size:1.5rem;
}

h2{
    font-size: 2.5rem;
}

nav li a{
    font-size:1.8rem;

}

.leftpadding{
    margin-left: 10px;
}

.corner {
    border-top: rgb(255, 255, 255) solid 2px;
    border-right: rgb(255, 255, 255) solid 2px;
    border-top-right-radius: 5px ;
    padding-right: 12px;
    padding-top: 4px
  }
  


.text-shadow{
    text-shadow: 2px 2px 2px rgba(0,0,0, 0.5) ;
}

.flashes h4{

    line-height: 2;
}


/* claims page styling*/
.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
} 

/* collapsible spacing*/
.gap{
    margin-left: 10%;
    margin-right: 10%;
}

h5{
    font-size: 2rem;
}

.underline{
    border-bottom:rgb(29, 29, 29) solid 2px; ;
}

.detsGap{
    margin-right: 1rem;
}

/* Claim form styling */

label::placeholder {    
    font-size: 2.5rem;
  }

 form h2{
    font-size:2rem;
 }


 /* footer styling */

 .social-networks {
    text-align: center;
  }
  
  .social-networks,
  li {
    display: inline;
  }

  .page-footer{
    margin-top: -2rem;
    margin-bottom: -2rem;
  }
  
  .social-networks i {
    font-size: 2.5rem;
    margin-left: 10%;
    margin-right: 10%;
      
    color: #696666;
    
  }
  
  .ptext {
    color: #696666;
    text-align: center;
    font-family: "karla", "sans-serif";
    font-size: 1.5rem;
    padding-bottom: 1rem;

  }
  
  .makerlink {
    color: black;
    text-align: center;
    font-family: "karla", "sans-serif";
    font-size: 1.5rem;
  }

  /* sticky footer */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      