{% extends "base.html" %}
    {% block content %}

        
        <h2 class="center-align">About</h2>
        <div class="row card-panel">
            <p>
                Welcome to Claims Corner. This is your claims portal, enabling you to log your business's claim, notifying
                them directly to you broker.
            </p>

            <p>
                We understnad you won't necessily have all the infomation needed to submit a fully completed claim form,
                that's not problem, the point of the portal is to enable fast notificaiton of claims, our new claim page
                only asks for the minimum amount of infomation to enable us to capture the all important fault claim and
                prevent the third party getting into expensive credit hire. Any additional infomation we may need can be
                organised at a later date. 
            </p>
        </div>

        <div class="row"> 
            <div class="col s12">
                <p class="center-align">
                    Already registered? click here to 
                    <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Login</a>
                </p> 
            </div>
        </div>
    {% endblock %}