{% extends "base.html" %}
{% block content %}

            <h2 class="light-blue-text text-darken-4 center-align">Claims</h2>
                 
       
        <ul class="collapsible popout">
            {% for claim in claims %}
            <li>
              <div class="collapsible-header">
                  <div class="row">
                    <i class="fas fa-caret-down"></i>
                      <div class="col">
                          <p>{{ claim.Company_Name }}</p>
                      </div>

                      <div class="col">
                          <p>Incident Date: </p><p>{{ claim.Incident_Date }}</p>
                      </div>
                      <div class="col">
                          <p>{{ claim.Registration }}</p>
                      </div>
                  </div>

              </div>
              <div class="collapsible-body">

                <div class="row">
                    <p><h5>Circumstances</h5>{{ claim.Description }}</p>
                  <div class="row">
                      <div class="col s6">
                          <h5>Third Party Details</h5>
                          <p>{{ claim.tp_name }}</p>
                          <p>{{ claim.tp_reg }}</p>
                          <p>{{ claim.tp_number }}</p>
                          <p>{{ claim.no_off_passngers }}</p>
                      </div>
                      <div class="col s6">
                          <h5>Our Driver's Details</h5>
                          <p>{{ claim.Driver }}</p>
                          <p>{{ claim.DOB }}</p>
                          
                      </div>
                  </div>
              </div>
            </li>
            
            {% endfor %}  
          </ul>

{% endblock %}