{% extends "base.html" %}
{% block content %}

            <h2 class="light-blue-text text-darken-4 center-align">Claims</h2>
                 
       
        <ul class="collapsible popout">
          <li>
            <div class="row">
              <span class="gap center-align">Client </span> <span class="gap center-align">Incident Date </span> <span class="gap center-align">Vehicle Registration</span></div>
               
            </div>
            {% for claim in claims %}
            <li>
              <div class="collapsible-header">
                <i class="fas fa-caret-down"></i><span class="gap">{{ claim.Company_Name }} </span> <span class="gap">{{ claim.Incident_Date }} </span> <span class="gap">{{ claim.Registration }}</span></div>
                 
              </div>
              <div class="collapsible-body">

                <div class="row">
                    <div class="col s12">
                    <p><h5 class="underline">Circumstances</h5>{{ claim.Description }}</p>
                    </div>

                    <div class="row">
                      <div class="col s6">
                          <h5 class="underline">Third Party Details</h5>
                          <span class="detsGap">TP Driver: </span><span>{{ claim.tp_name }}</span><br>
                          <span class="detsGap">TP Vehicle: </span><span>{{ claim.tp_reg }}</span><br>
                          <span class="detsGap">Contacty Number:</span> <span>{{ claim.tp_number }}</span><br>
                          <span class="detsGap">Address:</span><span></span><br>
                          <span class="detsGap">No. of People in TP vehicle:</span><span>{{ claim.no_off_passangers }}</span><br>
                      </div>
                      <div class="col s6">
                          <h5 class="underline">Our Driver's Details</h5>
                          <span class="detsGap">Driver's Name: </span><span>{{ claim.Driver }}</span><br>
                          <span class="detsGap">Date of Birth: </span><span>{{ claim.DOB }}</span><br>
                          <span class="detsGap">Licence Type: </span><span></span><br>
                          <span class="detsGap">Date relevent Test Passed: </span><span></span><br>
                          <span class="detsGap">Any Points:</span><span></span><br>
                          <span class="detsGap" >Any Medical Conditions:</span><span></span><br>
                          
                      </div>
                  </div>
              </div>
            </li>
            
            {% endfor %}  
          </ul>
         
{% endblock %}